@model IEnumerable<GradeManagement.Models.Course>

@foreach (var course in Model)
{
    <div>
        <h3>@course.Title</h3>
        <p>@course.Description</p>
        <p>@Html.ActionLink("Enroll", "Enroll", new { id = course.CourseId })</p>
    </div>
}