@model GradeManagement.ViewModels.CourseEnrollmentViewModel

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.CourseId)
    @Html.HiddenFor(model => model.StudentId)

    <h2>Enroll in @Model.Title</h2>

    <input type="submit" value="Enroll" />
}